<nz-row>
  <nz-col [nzXs]="{ span: 20, offset: 2 }"
          [nzMd]="{ span: 8, offset: 8 }"
          [nzLg]="{ span: 4, offset: 10 }"
          style="height: 100vh;" nz-space nzAlign="center">
    <nz-space-item style="width: 100%;text-align: center">
      <nz-card nzTitle="Login">
        <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="login()">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!" nzHasFeedback>
              <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="username" placeholder="Username" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!" nzHasFeedback>
              <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="Password" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
        </form>
      </nz-card>
    </nz-space-item>
  </nz-col>
</nz-row>
