<nz-table
  #table
  (nzQueryParams)="onQueryParamsChange($event)"
  [nzData]="data$ | async"
  [nzFrontPagination]="false"
  [nzLoadingDelay]="300"
  [nzLoading]="loading$ | async"
  [nzPageIndex]="pageIndex$ | async"
  [nzPageSize]="pageSize$ | async"
  [nzScroll]="{ x: '1100px' }"
  [nzShowPagination]="true"
  [nzTotal]="total$ | async"
  nzBordered
  nzTitle="User List"
>
  <thead>
  <tr>
    <th nzLeft nzWidth="5%">#</th>
    <th nzWidth="5%">Id</th>
    <th nzWidth="10%">Faculty</th>
    <th nzWidth="10%">Name</th>
    <th nzWidth="15%">Email</th>
    <th nzWidth="10%">Role</th>
    <th nzWidth="10%">Status</th>
    <th nzWidth="15%">Created At</th>
    <th nzWidth="15%">Updated At</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of table.data; index as i">
    <td nzLeft>{{i + 1}}</td>
    <td>{{item.id}}</td>
    <td>{{item.facultyId}}</td>
    <td>{{item.name}}</td>
    <td>{{item.email}}</td>
    <td>{{item.role}}</td>
    <td>{{item.status}}</td>
    <td>{{item.createdAt | appDate}}</td>
    <td>{{item.updatedAt | appDate}}</td>
    <td>
      <button nz-button nzType="danger"
              nz-popconfirm
              nzCancelText="cancel"
              nzOkText="ok"
              nzPopconfirmTitle="Are you sure?"
              (nzOnConfirm)="delete(item.id)"
      >Delete</button>
      <button nz-button [routerLink]="['/account', item.id, 'edit']">Edit</button>
    </td>
  </tr>
  </tbody>
</nz-table>
