<h1 *ngIf="editingContribution" style="text-align: center">Edit contribution #{{editingContribution.id}} | {{editingContribution.title}}</h1>

<form (submit)="submitForm()" [formGroup]="form" nz-form>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Title</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Invalid title" nzHasFeedback>
      <input [formControl]="form.get('title')" id="title" name="title" nz-input/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Description</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Invalid description" nzHasFeedback>
      <input [formControl]="form.get('description')" id="description" name="description" nz-input/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Document</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-upload
        [nzAction]="uploadDocumentEndpoint"
        [nzHeaders]="authHeader"
        (nzChange)="handleChange($event)"
        [(nzFileList)]="fileListDocument"
        [nzShowButton]="fileListDocument.length < 1"
      >
        <button type="button" nz-button><i nz-icon nzType="upload"></i>Upload document</button>
      </nz-upload>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Images</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-upload
        [nzAction]="uploadImageEndpoint"
        nzListType="picture-card"
        [(nzFileList)]="fileListImage"
        [nzShowButton]="fileListImage.length < 30"
        [nzHeaders]="authHeader"
        nzMultiple
        (nzChange)="handleChange($event)"
      >
        <div>
          <i nz-icon nzType="plus"></i>
          <div style="margin-top: 8px">Upload images</div>
        </div>
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Agreement</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="You must accept term and condition" nzHasFeedback>
      <input type="checkbox" nz-input formControlName="agreeTermAndCondition"/>
      I agree with <a (click)="viewTermAndCondition()">Term and Condition</a>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzXs="24" [nzLg]="{span: 14, offset: 6}">
      <button [nzLoading]="loading$ | async" type="submit" nz-button nzType="primary">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>

<nz-modal [nzVisible]="isToCVisible" nzTitle="Terms and Conditions"
          (nzOnCancel)="isToCVisible = false"
          (nzOnOk)="isToCVisible = false">
  <ng-container *nzModalContent>
    <quill-view [content]="termAndCondition$ | async"></quill-view>
  </ng-container>
</nz-modal>
