<nz-comment *ngFor="let comment of comment$ | async"
            [nzAuthor]="comment.user.name"
            [nzDatetime]="toNow(comment.createdAt)"
>
  <nz-comment-content>
    <p>
     {{comment.content}}
    </p>
  </nz-comment-content>
</nz-comment>
<nz-comment>
  <nz-comment-content>
    <nz-form-item>
      <textarea [formControl]="commentControl" nz-input rows="4"></textarea>
    </nz-form-item>
    <nz-form-item style="margin-top: 10px">
      <button (click)="createComment()" nz-button nzType="primary">
        Add Comment
      </button>
    </nz-form-item>
  </nz-comment-content>
</nz-comment>
