<ng-container *ngIf="stats$ | async as stats">
  <nz-divider nzText="Statistics"></nz-divider>
  <nz-row [nzGutter]="16">
    <nz-col nzLg="6" nzXs="24">
      <nz-card>
        <nz-statistic [nzTitle]="'Active Users'" [nzValue]="(stats.activeUserCount | number)!"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col nzLg="6" nzXs="24">
      <nz-card>
        <nz-statistic [nzTitle]="'Disable Users'" [nzValue]="(stats.disableUserCount | number)!"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col nzLg="6" nzXs="24">
      <nz-card>
        <nz-statistic [nzTitle]="'Total Contributions'" [nzValue]="(stats.totalContribution | number)!"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col nzLg="6" nzXs="24">
      <nz-card>
        <nz-statistic [nzTitle]="'Total Sessions'" [nzValue]="(stats.totalContributeSession | number)!"></nz-statistic>
      </nz-card>
    </nz-col>
  </nz-row>
  <nz-divider nzText="Number of user group by role"></nz-divider>
  <nz-row [nzGutter]="16">
    <nz-col nzLg="6" nzXs="24">
      <nz-card>
        <nz-statistic [nzTitle]="'Guest'" [nzValue]="(stats.guestCount | number)!"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col nzLg="6" nzXs="24">
      <nz-card>
        <nz-statistic [nzTitle]="'Marketing Coordinator'"
                      [nzValue]="(stats.marketingCoordinatorCount | number)!"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col nzLg="6" nzXs="24">
      <nz-card>
        <nz-statistic [nzTitle]="'Marketing Manager'"
                      [nzValue]="(stats.marketingManagerCount | number)!"></nz-statistic>
      </nz-card>
    </nz-col>
    <nz-col nzLg="6" nzXs="24">
      <nz-card>
        <nz-statistic [nzTitle]="'Student'" [nzValue]="(stats.studentCount | number)!"></nz-statistic>
      </nz-card>
    </nz-col>
  </nz-row>

</ng-container>
