<ng-container *ngIf="currentUser$ | async as user">
  <app-dashboard-student *ngIf="user.role === 'student'"></app-dashboard-student>
  <app-dashboard-guest *ngIf="user.role === 'guest'"></app-dashboard-guest>
  <app-dashboard-marketing-coordinator *ngIf="user.role === 'marketing_coordinator'"></app-dashboard-marketing-coordinator>
  <app-dashboard-marketing-manager *ngIf="user.role === 'marketing_manager'"></app-dashboard-marketing-manager>
  <app-dashboard-admin *ngIf="user.role === 'admin'"></app-dashboard-admin>
</ng-container>
