<nz-row nzGutter="16" style="height: 100%">
  <nz-col nzSpan="24">
    <nz-tabset [nzTabBarExtraContent]="extraTemplate" style="height: 100%" [nzAnimated]="false">
      <nz-tab nzTitle="Document" nzForceRender>
        <nz-tabset *ngIf="article$ | async" [nzTabPosition]="'left'" style="height: 100%" [nzAnimated]="false">
          <nz-tab *ngFor="let version of (article$ | async).versions" [nzTitle]="version.id">
            <div style="height: 100%">
              <ng2-pdfjs-viewer *ngIf="version.linkPdfCdn"
                [pdfSrc]="version.linkPdfCdn"
              ></ng2-pdfjs-viewer>
            </div>
          </nz-tab>
        </nz-tabset>
      </nz-tab>
      <nz-tab nzTitle="Image">
        <nz-row nzGutter="16">
          <div *ngFor="let image of images$ | async" nz-col nzXs="12" nzLg="6">
            <img
              nz-image
              width="100%"
              [nzSrc]="image.link"
              [alt]="image.title"
            />
          </div>
        </nz-row>
      </nz-tab>
    </nz-tabset>
  </nz-col>
</nz-row>
<ng-template #extraTemplate>
  <button nz-button nzType="primary" (click)="commentVisible = !commentVisible">Comments</button>
</ng-template>

<nz-drawer [nzClosable]="true"
           [nzVisible]="commentVisible"
           nzWidth='50vw'
           nzPlacement="right"
           nzTitle="Comments"
           (nzOnClose)="commentVisible = false"
>
  <ng-container *nzDrawerContent>
    <app-contribution-comment-box></app-contribution-comment-box>
  </ng-container>
</nz-drawer>

