<nz-row nzGutter="16">
  <nz-col nzLg="6" nzXs="24">
    <nz-descriptions *ngIf="contribution" [nzTitle]="contribution.title" [nzColumn]="1" nzBordered nzSize="default">
      <nz-descriptions-item nzTitle="Description">{{contribution.description}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Author Name">{{contribution.user.name}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Author Email">{{contribution.user.email}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Faculty">{{contribution.user.facultyId | faculty | async}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Contribute Session">{{contribution.contributeSessionId}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Create Time">{{contribution.createdAt | appDate}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Update Time">{{contribution.updatedAt | appDate}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Status">
        <app-contribution-status [contribution]="contribution"></app-contribution-status>
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-col>
  <nz-col nzLg="18" nzXs="24">
    <nz-tabset  [nzTabBarExtraContent]="extraTemplate" [nzAnimated]="false">
      <nz-tab nzTitle="Document" nzForceRender>
        <nz-tabset *ngIf="(article$ | async) as article" [nzTabPosition]="'left'" [nzAnimated]="false">
          <nz-tab *ngFor="let version of article.versions" [nzTitle]="version.id">
            <div *ngIf="version.linkPdfCdn" style="height: 100vh">
              <ng2-pdfjs-viewer
                [pdfSrc]="version.linkPdfCdn"
              ></ng2-pdfjs-viewer>
            </div>
            <nz-empty
              *ngIf="!version.linkPdfCdn"
              [nzNotFoundContent]="contentTpl"
              [nzNotFoundFooter]="footerTpl"
            >
              <ng-template #contentTpl>
                <span>Online document preview is not ready, please comeback later or download original to view offline</span>
              </ng-template>
              <ng-template #footerTpl>
                <a nz-button nzType="primary" target="_blank" [href]="version.linkOriginalCdn">Download Original</a>
              </ng-template>
            </nz-empty>
          </nz-tab>
        </nz-tabset>
      </nz-tab>
      <nz-tab nzTitle="Image">
        <nz-row nzGutter="16">
          <div *ngFor="let image of images$ | async" nz-col nzXs="12" nzLg="6">
            <nz-card nzHoverable [nzCover]="coverTemplate">
              <nz-card-meta [nzTitle]="image.title"></nz-card-meta>
            </nz-card>
            <ng-template #coverTemplate>
              <img
                nz-image
                width="100%"
                [nzSrc]="image.link | image:[500,500]"
                [alt]="image.title"
                nzFallback="/assets/error-image-2.png"
                nzDisablePreview
                (click)="preview(image)"
              />
            </ng-template>
          </div>
        </nz-row>
      </nz-tab>
    </nz-tabset>
  </nz-col>
</nz-row>
<ng-template #extraTemplate>
  <button nz-button nzType="primary" (click)="commentVisible = !commentVisible">Comments</button>
</ng-template>

<nz-drawer [nzClosable]="true"
           [nzVisible]="commentVisible"
           nzWidth='50vw'
           nzPlacement="right"
           nzTitle="Comments"
           (nzOnClose)="commentVisible = false"
>
  <ng-container *nzDrawerContent>
    <app-contribution-comment-box></app-contribution-comment-box>
  </ng-container>
</nz-drawer>

